body {
  background: #cef1f2;
  font-family: "Nunito", sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}
#mainNavbar .nav-link:hover {
    color: #444454;
}
#mainNavbar .navbar-brand {
    color: #444454;
 
}

